body {
    background-color: #606060;
}

.title {
    text-align: center;
    color: #ffffff;
}

.content {
    background-color: #9900ff;
    width: 300px;
    height: 200px;
    border: 15px solid #9900aa;
    padding: 20px;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    vertical-align: middle;
}

div h1 {
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
}

div p {
    font-size: 25px;
    text-shadow: 1px 1px 2px red,
                 2px 2px 3px orange,
                 3px 3px 4px yellow,
                 4px 4px 5px green,
                 5px 5px 6px blue,
                 6px 6px 7px blueviolet,
                 7px 7px 8px violet;
}

dl {
    color: #fff;
}