.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}
  
.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    background-color: #363145;
    overflow: hidden;
    padding-top: 1px;
    margin-top: -1px;
}

#conteudo {
    margin-left: 50vh;
    margin-top: 100px;
}

#titulo_pagina {
    position: absolute;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 200px;
    height: 100px;
    top: 30%;
    left: 45%;
    margin-top: -100px;
    margin-left: -50px;
}

#titulo_orientador {
    position: absolute;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 200px;
    height: 100px;
    top: 70%;
    left: 45%;
    margin-top: -100px;
    margin-left: -50px;
}

#box-membros {
    display: flex;
    align-items: center;
    position: absolute;
    height: auto;
    width: 1000px;
    top: 35%;
    left: 36%;
    margin-left: -150px;
    margin-top: -100px;
}

#lista-membros {
    list-style: none;
    justify-content: center;
    display: flex;
}

#lista-membros li {
    margin-left: 60px;
    display: inline-block;
}

.foto-membro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
}

#foto-membro-defeituoso { /*FOI O LUCIANO QUE ESCREVEU ISSO SOBRE ELE MESMO*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
    object-fit: cover;
    /*object-position: 720px 516px;*/
}

.nome-membro {
    text-align: center;
    text-transform: uppercase;
    text-decoration: overline;
    color: white;
}

.desc-membro {
    text-align: center;
    color: white;
}

#orientador {
    position: absolute;
    height: 400px;
    width: 1000px;
    top: 75%;
    left: 23%;
    margin-left: -150px;
    margin-top: -100px;
}

#orientador a {
    color: white;
}

li > ol,
li > ul {
    margin-bottom: 0;
}